body {
  display: flex;
  min-height: 100vh;
  max-width: 80vw;
  flex-direction: column;
  margin: 20px 50px;
  padding-left: 40px;
  font-family: "Quicksand" , sans-serif;

}
#redText {
  color: red;
  font-size: 40px;
}

.main {
  display: flex;
  flex: 1;
}

.blogContent {
  flex: 2;
  padding-right: 40px;
}

.rightMargin {
  flex: 1;
  padding-left: 30px;
  padding-top: 50px;
}
.lastWord {
  color: red;

}

.blogImage {
  width: 900px;
  height:600px;
}
.rightImage {
  padding-top: 20px;
  padding-bottom: 30px;
  width: 550px;
  height: 300px;
}
header, footer {
  height: 20vh;
  padding: 20px 15px 20px 15px;
}

nav {
  display: flex;
}

.tbox {
  color: white;
  font-size: 20px;
  background: #080808;
  text-decoration: none;
  margin: 1px;
  text-align: center;
  flex: 1;
}
.content {
  color: #4c4c4c;
}

.box {
  color: red;
  text-decoration: none;
}
ul li {
  color: #929292;
}
.posts {
  color: #ff3232;
}
